html
  head
    title Timestamp microservice
  body
    div
      h1 Timestamp microservice
      blockquote User stories:
        br I can get the IP address, language and operating system for my browser
      h3 Example usage:
      a(href="/api/whoami") https://...com/api/whoami
      h3 Example output:
      code  {"ipaddress":"217.20.190.244","language":"ru-RU","software":"Windows NT 6.1"}